.fishcamp_cpt-template {
  .image {
    img {
      box-shadow: $tfs__box-shadow;
    }
  }

  #travel-style {

    .accordion {
      --bs-accordion-bg: #{$tfs__red};
      --bs-accordion-color: #fff; // adjust text color as needed

      .accordion-body {
        background-color: #fff;
        color: #000;
      }

      .accordion-button.collapsed {
        color: #fff;
      }

      .accordion-button:not(.collapsed) {
        color: var(--bs-accordion-active-color);
        --bs-accordion-active-bg: #{$tfs__dark-smoke};
        box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
      }

      .accordion-button:not(.collapsed)::after {
        background-image: var(--bs-accordion-btn-active-icon);
      }

      .accordion-item:first-of-type {
        --bs-accordion-border-radius: 0;
      }

      .accordion-item:last-of-type {
       --bs-accordion-border-radius: 0;
      }
    }
  }

  @media (max-width: 767.98px) {
      #travel-style {
        margin-top: 1.618em;
      }
  }
}