.breadcrumb-separator {
  margin: 0 5px;
}
.breadcrumb {
  font-size: 1.15rem;
}
a {
  color: $tfs__red;
  text-decoration: none;
  &:hover {
    color: $tfs__red;
  }
}

/* Margins
------------------------------*/
.mt-6 {
  margin-top: 6rem;
}
.mt-7 {
  margin-top: 7rem;
}
.mt-8 {
  margin-top: 8rem;
}
.mt-9 {
  margin-top: 9rem;
}
.mt-10 {
  margin-top: 10rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mb-9 {
  margin-bottom: 9rem;
}
.mb-10 {
  margin-bottom: 10rem;
}

/* Padding
------------------------------*/
.pt-6 {
  padding-top: 6rem;
}
.pt-7 {
  padding-top: 7rem;
}
.pt-8 {
  padding-top: 8rem;
}
.pt-9 {
  padding-top: 9rem;
}
.pt-10 {
  padding-top: 10rem;
}
.pb-6 {
  padding-bottom: 6rem;
}
.pb-7 {
  padding-bottom: 7rem;
}
.pb-8 {
  padding-bottom: 8rem;
}
.pb-9 {
  padding-bottom: 9rem;
}
.pb-10 {
  padding-bottom: 10rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}

@media (min-width: 992px) {
  .top-lg-60 {
    top: 60%;
  }
  .no-render-lg {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .top-lg-40-mw {
    top: 40%;
  }
  .top-lg-50-mw {
    top: 50%;
  }
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.container.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media(max-width: 575.98px) {
    width: 90%;
  }
}

.cta-description {
  h3, h4, h5, h6 {
    text-align: center;
  }

}