#page {
  .container-fluid.top-fade {
    position: relative;
    margin-top: -100px; /* Adjust to slightly overlap the hero image */
    z-index: 2; /* Ensure it stays above the hero image */
  }

  .container-fluid.top-fade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
   /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff 75%);*/
    background: linear-gradient(0deg, #ffffff 5%, rgba(255,255, 255, 0.35) 60%, rgba(255, 255, 255, 0) 90%);
    z-index: 1;
    pointer-events: none;
  }

  #primary {
    border: .5px solid #ccc;
    padding: 1em;
    box-shadow: $tfs__box-shadow;
  }

  .hero-image {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 90vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    @media (max-width: 768px) {
      max-height: 350px;
      height: 350px;
      .img-fluid {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .hero-overlay {
    z-index: 2;
  }

  @media (max-width: 1199.98px) {
    .hero-overlay {
      width: 90%;
    }
  }

  /* Logo styling */
  .hero-logo {
    max-width: 250px;
    height: auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
    @media (max-width: 768px) {
      max-width: 150px;
    }
  }

  .hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    color: #ffffff;

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  .page-sidebar {
    background-color: $tfs__sidbar-bg;
    padding: 1.618rem 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    img {
      margin: 0 auto;
      display: block;
    }
  }
}

@media (max-width: 991.98px) {
  #page {
    .hero-image {
      position: relative;
      width: 100%;
      height: 80vh;
      max-height: 90vh;
      overflow: hidden;

      img {
        width: 200px;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}