/** Prime Travel
======================= */

.prime-travel-left-col {
  background-image: url(https://tfs-spaces.sfo2.digitaloceanspaces.com/theflyshop/uploads/2017/10/Species_BrownTrout_Main.jpg);
}

.h2-small {
  font-size: 1.2rem;
}

#prime-travel-tfs-logo {
  img {
    position: absolute;
    max-width: 150px;
    z-index: 999;
  }
}

#prime-travel-template {
  #header {
    background-color: transparent !important;
    z-index: 1 !important;
  }
}

#primeTravelTempmodalLabel {
  img {
    width: 100%;
    max-width: 200px;
  }
}

#prime-travel {
  .row {
    display: flex;
    .prime-travel-left-col {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      //box-shadow: inset -109px 0 100px 0 #f5f5f5;
      box-shadow: inset -109px 0 20px -79px rgba(245, 245, 245, 1);
    }
    img.img-responsive {
      width: 56%;
      float: right;
    }
    .prime-travel-logo {
      display: none;
    }
    h2.prime-tavel-heading {
      font-family: 'Playfair Display', serif;
      font-weight: normal;
      letter-spacing: normal;
      text-transform: none;
      text-align: center;
      font-size: 2.5rem;
      margin: 1em 0 0 0;
      line-height: 1em;
    }
  }
}

#gform_wrapper_6 {
  .ginput_container label {
    text-indent: 0px;
    margin-left: 0.5em;
  }
  .gchoice {
    margin-bottom: 1em;
  }
  .prime-travel-cat {
    #gform_submit_button_6 {
      background-color: #213E91;
      color: #f5f5f5;
    }
  }

  h2.gform_title {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    text-align: center;
  }
}
#prime-travel-travel-template {
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  .img-reponsive.center-block {
    width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
  }
  .panel.panel-default {
    background-color: transparent;
    border: none;
    box-shadow: none;
    .panel-heading {
      background-color: transparent;
      border: none;
    }
    .panel-body {
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .card {
    background: transparent;
    border: none;
  }
}

#gform_submit_button_6 {
  background-color: $tfs__red !important;
  border-color: $tfs__red !important;
  color: #f5f5f5 !important;
  &:hover {
    background-color: $tfs__red;
  }
}

#gform_submit_button_6:hover {
  background-color: $tfs__red !important;
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) {
  .prime-masthead {
    h2 {
      text-align: left !important;
      padding-left: 8.2em;
    }
  }
}

@media (max-width: 991.98px) {
  #prime-travel-travel-template {
    background-color: #ccc;
    .container-fluid {
    }
    .img-reponsive.center-block {
      max-height: 100%;
    }
    .panel.panel-default {

      .panel-heading {

      }
      .panel-body {
        .row {
          align-items: center;
        }
      }
    }
  }
}

#prime-travel-tfs-logo {
  padding-left: 1em;
  padding-right: 1em;
}

/** max width */
@media (max-width: 1399.98px) { }

@media (max-width: 1199.98px) {
  .prime-travel-left-col {
    background-image: none !important;
    display: none;
  }
  #prime-travel-tfs-logo img {
    margin-left: 5em;
    margin-top: 2em;
  }
}

@media (max-width: 991.98px) {
  #prime-travel-tfs-logo {
    img {
      position: relative;
      margin: 0 auto;
      display: block;
    }
  }
  #prime-travel-tfs-logo img {
    margin: 2em auto 0 18.9em;
  }
}

@media (max-width: 767.98px) {
  #prime-travel-template-wrapper {
    img.alignleft {
      display: block;
      float: none;
      margin: 0 auto;
    }
  }
  .prime-masthead {
    h2 {
      text-align: center !important;
      padding-left: 0em;
    }
  }
  #prime-travel-tfs-logo img {
    margin: 2em auto 0 auto;
  }
}

@media (max-width: 575.98px) {
  #prime-travel-tfs-logo img {
    margin: 2em auto 0 auto;
  }
}

/** min width */
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  #post-18694 {
    margin-top: 6.618em;
    margin-bottom: 6.618em;
    .wp-image-17871 {
      margin: -75px 0 0 -169px;
    }
  }
}