#travel-template-grid {
  padding-top: 3.618em;

  .travel-template-row {
    background-color: $tfs__light-smoke;
    box-shadow: $tfs__box-shadow ;
  }
  p {
    margin: 0;
    font-size: 1.2rem;
  }
  img {
    box-shadow: $tfs__box-shadow;
  }
  .widget-section {
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: $tfs__box-shadow;
    width: 95%;
    margin: -20px auto 0 auto;
    padding: 1rem;
    border: 0.5px solid #ccc;
  }
  .col-md-6.col-lg-6.one,
  .col-md-6.col-lg-6.two {
    margin-top: 1.618em;
    padding-top: 0;
  }

  .col-md-6.col-lg-6 {
    margin-top: 1.618rem;
    padding-top: 1.618rem;
  }

  .widget-section {
    transition: transform 0.3s ease;
    transform: translateY(0);
  }

  .widget-section:hover {
    transform: translateY(-50px);
  }

  .thumbnail-link {
    position: relative;
    display: block;
  }

  .thumbnail-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .thumbnail-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;  /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    background-image: url('https://tfs-spaces.sfo2.digitaloceanspaces.com/theflyshop/uploads/2017/06/TFSLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease; /* Longer duration for more noticeable fade */
    z-index: 2;
    /* Start fully transparent and invisible */
    visibility: hidden;
  }

  .thumbnail:hover .thumbnail-link::before {
    opacity: 0.5;
  }

  .thumbnail:hover .thumbnail-link::after {
    opacity: 1;
    visibility: visible; /* Make visible on hover */
  }

  /* Keep the existing movement animation */
  .thumbnail:hover .widget-section {
    transform: translateY(-50px);
  }

  .widget-section {
    transition: transform 0.3s ease;
  }
}

.travel_cpt-template {
  #page {
    #primary {
      border: none;
      padding: 0;
    }
  }
}

.travel-template-hero {
  box-shadow: $tfs__hero-box-shadow;
}


.horizontal-scroll-gallery .d-flex::-webkit-scrollbar {
  height: 8px;
}

.horizontal-scroll-gallery .d-flex::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.horizontal-scroll-gallery .d-flex::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.horizontal-scroll-gallery .d-flex::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 991.98px) {
  #travel-template-grid .thumbnail-link::after {
    width: 250px;
    height: 250px;
  }
}

