$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__background__royal__blue: #4169e1;
$color__background__blue__active: #191970;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$tfs__light-blue: #D9E6F9;
$tfs__red: #A21418;
$tfs__red-active: #cd1c2e;
$tfs__white: #ffffff;
$tfs__smoke-white: #f5f5f5;
$tfs__light-smoke: #FBFBFD;
$tfs__dark-smoke: #ccc;
$tfs__grey-smoke: #eee;
$tfs__sidbar-bg: #eeeeee;
$tfs__box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
$tfs__hero-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.4);
$tfs__black: #000000;
$tfs__catalog-black: #393939;

$old__tfs_dark: rgba(29, 36, 42, 0.9);
